@font-face {
    font-family: Digitalis;
    src: url(../images/digitalis.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@keyframes turnPulse {
    0% {
        transform: scale(1); /* Initial size */
    }
    50% {
        transform: scale(1.15); /* Slightly larger size */
    }
    100% {
        transform: scale(1); /* Return to initial size */
    }
}

@keyframes colorPulse {
    0% {
        border: 2px dotted rgba(13, 213, 166, .05);
    }
    50% {
        border: 2px dotted rgba(13, 213, 166, .35);
    }
    100% {
        border: 2px dotted rgba(13, 213, 166, .05);
    }
}

* {
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Digitalis;
}


body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/Background.jpg); 
    background-size: auto;
    align-items: center;
}

footer, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(170, 170, 170);

}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px
}

.topOfScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 750px;
}

h1, h2, div {
    color: rgb(170, 170, 170);
}

h1, h2 {
    display: flex;
    text-align: center;
}

#row0 h2, #codeRow {
    animation: turnPulse 3s infinite;
}

#boardContainer {
    /* update to 12 rows when code is working*/
    display: grid;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90vw;
    max-width: 750px;
    /* grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr; */
    /* grid-template-rows: 1fr, 1fr, 1fr, 1fr,; */
    /* column-gap: 10px; */
    row-gap: 10px;
    border: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    height: 15vw;
    /* width: 80vw; */
    max-height: 120px;
    max-width: 750px;
    border: 1px solid #ccc;
    padding: 10px;
    column-gap: 10px;
    /* row-gap: 10px; */
    border: none;
}

#codeRow {
    display: none;
}

.blank {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerColumn, .computerColumn {
    display: flex;
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
    border: #00ffffff;
    border-radius: 1vw;
}

#row0 .guess {
    animation: colorPulse 3s infinite;
}

.blank {
    display: flex;
    width: 60px;
    height: 100px;
}

.reports {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

#column0 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

#top-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#top-right {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#bottom-right {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#bottom-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

button {
    height: 11vw;
    max-height: 50px;
    width: 20vw;
    max-width: 150px;
    font-size: larger;
    border-radius: 15px;
}

#end { 
    color: #0dd5a6;
    background-color: #041E62;
    border-color: #0dd5a6;
}

#end:hover {
    color: #041E62;
    background-color: #0dd5a6;
    border-style: none;
}

#reset { 
    color: #BC1643;
    background-color: #041E62;
    border-color: #BC1643;
}

#reset:hover {
    color: #041E62;
    background-color: #BC1643;
    border-style: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#message {
    font-size: 24px;
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

h1 {
    color: ;
}